.game-area-container {
  width: 100%;
  min-height: 100vh;
}

.game-board-main-container {
  display: flex;
  flex-direction: column;
}

.main-piles-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  min-height: 100vh;
}

.pile-container {
  display: flex;
  flex-direction: column;
  width: 120px;
  position: relative;
}
.card-container {
  cursor: grab;
}

.card-img {
  width: 100px;
}

.extra-cards-main-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 50px;
}

.extra-cards {
  width: 120px;
  cursor: pointer;
}
